*

!.gitignore
!.gitattributes
!LICENSE
!README.md

!docs/
!docs/**

!connector/
!connector/README.md

!flows/
!flows/Discovery-CLMCredentials/
!flows/Discovery-CLMCredentials/README.md

!packages/
!packages/*.zip
